* {
  font-family: "Plus Jakarta Sans", "poppins";
  padding: 0;
  margin: 0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 10px;
  padding: 5px;
  min-height: 320px;
  width: 180px;
  border-radius: 5px;
}

.shimmer-image {
  height: 150px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.shimmer-rest-name {
  height: 10px;
  width: 100px;
  margin-top: 15px;
  background-color: #f0f0f0;
}

.shimmer-rest-rating {
  height: 10px;
  width: 150px;
  margin-top: 15px;
  background-color: #f0f0f0;
}

.shimmer-rest-area {
  height: 10px;
  width: 120px;
  margin-top: 15px;
  background-color: #f0f0f0;
}
